@font-face {
    font-family: "Gilam";
    src: url("../fonts/gilam/Gilam-Book.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/circe/circe-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: Gilam;
}

   

.header{
    background-color: #706468;
}
.header__container{
    width: 1460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0;
    margin: 0 auto;
}
    
.header__logo{
    width: 216px;
    height: 33px;
}

.header__contact{
    display: flex;
    align-items: center;
}

.header__contact-number{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 29px;
    font-family: Circe;
}

.call-decoration{
    color: #D6AF76;
}

.header__button{
    text-decoration: none;
    display: flex;
    border: 1px solid #E4B564;
    margin-left: 39px;
}

.header__button-image{
    padding-left: 26px;
}

.header__button-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
    color: #E4B564;
    padding: 10px 25px 10px 10px;
    font-family: Circe;
}
  
   
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E5E5;
}

.section__container{
    color: #0A0909;
    width: 1460px;
    margin: 0 230px;
    padding-top: 64px;
}

.section__title{
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.section__text{
    color: #FFFFFF;  
}

.section__list{
    margin-top: 41px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.section__record{
    margin-top: 41px;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 1.5rem;
}

.text-item{
    text-align: center;
}

.section__record-item{
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__record-item:nth-of-type(1){
    background: #634F2C;
    grid-area: 1/1/2/3;
}

.section__record-item:nth-of-type(2){
    background: #B4A385;
    grid-area: 1/3/2/5;
}

.section__record-item:nth-of-type(3){
    background: #E4B564;
    grid-area: 1/5/2/7;
}

.section__record-item:nth-of-type(4){
    background: #635A4A;
    grid-area: 2/1/3/4;
}

.section__record-item:nth-of-type(5){
    background: #B08C4D;
    grid-area: 2/4/3/7;
}

 
.section:last-of-type{
    margin-top: 90px;
    padding-bottom: 90px;
    background-color: #706468;
}

.section__list-item{
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    padding: 44px 0 0 52px;
}

.item_font-transform{
    Font-family: "Circe";
    font-weight: 400;
}

.section__list{
    margin-top: 94px;
    display: grid;
    height: 897px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 1.5rem;
}

.section__list-item:nth-of-type(1){
    background: #0E0E0E;
    grid-area: 1/1/13/2;
}

.section__list-item:nth-of-type(2){
    background: #242424;
    grid-area: 1/2/17/3;
}

.section__list-item:nth-of-type(3){
    background: #1F1F1F;
    grid-area: 1/3/9/4;
}

.section__list-item:nth-of-type(4){
    background: #1F1F1F;
    grid-area: 13/1/31/2;
}

.section__list-item:nth-of-type(5){
    background: #0E0E0E;
    grid-area: 9/3/21/4;
}

.section__list-item:nth-of-type(6){
    background: #0A0909;
    grid-area: 21/3/31/4;
}

.section__list-item:nth-of-type(7){
    color: black;
    background: #E4B564;
    grid-area: 17/2/31/3;
}

.footer__container{
    width: 1460px;
    margin: 0 auto;
    padding:  87.5px 0 105px;
}

.footer__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000042;
        
}

.footer__title{
    font-size: 50px;
    line-height: 28px;
}

.footer__button{
    text-decoration: none;
    display: flex;
    border: 1px solid #E4B564;
    margin-left: 50px;
       
}

.footer__button-link{    
    position: absolute;
    text-decoration: none;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
      
}

.background-image{
    color: #E8D2ABC2;
}

.footer__background-color{
    background: #706468;
    padding-top: 184px;
}

.register-client__link{
    text-decoration: none;
    color: #ffffffd8;
}

.section__register{
    margin-top: 72px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 782px ;
    text-align: center;
}

.section__register-client{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    align-self: stretch;
}

.register-client__text{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    width: 326px;
    height: 140px;
}

.text-weight{
    font-family: "Circe";
    font-weight: 400;
}

.block-image{
    display: block;
    margin: 0 auto;
}

.register-client__link{
    text-decoration: none;
    color: #ffffffd8;
}
.cursor-item{
    width: 25px;
    height: 23.29px;
    position: absolute;
    left: 50%;
    right: 53%;
    top: 158%;
    bottom: 16.39%;

    background: url(../image/Icon/cursor.png)
}

.section__register-client:nth-of-type(1){
    background: #634F2C;
}

.section__register-client:nth-of-type(2){
    background: rgba(232, 210, 171, 0.76);
}

.section__register-client:nth-of-type(3){
    background: #E4B564;
}

.section__register-client:nth-of-type(4){
    background: #635A4A;
}

.section__register-client:nth-of-type(5){
    background: #B08C4D;
}

.section__register-client:nth-of-type(6){
    background-color: #634F2C;
}


.record-client__vector{
    position: relative;
    width: 119px;
    height: 53px;
}

.client__image-V{
    position: absolute;
    left: 0;
    right: 56.5%;
    top: 0.95%;
    bottom: 0.95%;
}

.client__image-s{
    position: absolute;
    left: 6.76%;
    right: 81.28%;
    top: 24.87%;
    bottom: 42.48%;
}

.client__image-e{
    position: absolute;
    left: 19.83%;
    right: 69.74%;
    top: 33.01%;
    bottom: 42.48%;
}

.client__image-t{
    position: absolute;
    left: 31.03%;
    right: 61.89%;
    top: 26.26%;
    bottom: 42.48%;
}

.client__image-l{
    position: absolute;
    left: 40.39%;
    right: 56.51%;
    top: 21.96%;
    bottom: 43.01%;
}

.client__image-g{
    position: absolute;
    left: 45.28%;
    right: 42.55%;
    top: 24.87%;
    bottom: 42.47%;
}

.client__image-r{
    position: absolute;
    left: 59.71%;
    right: 34.2%;
    top: 33.01%;
    bottom: 42.94%;
}

.client__image-o{
    position: absolute;
    left: 66.64%;
    right: 23%;
    top: 33.01%;
    bottom: 42.48%;
}

.client__image-u{
    position: absolute;
    left: 78.5%;
    right: 12.16%;
    top: 33.47%;
    bottom: 42.47%;
}

.client__image-p{
    position: absolute;
    left: 90.07%;
    right: 0;
    top: 33.01%;
    bottom: 35.35%;
}

